@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Rubik&display=swap");
body {
  background: #fffaf5;
}

#bookpagesection{
  margin-top: -130px;
}
header{
  background: #fffaf5;
}
#bookpagesection{
  display: none;
}

#catalogpagesection{
  margin-top: -100px;
}
.container_book {
  width: 80%;
  margin: 0 auto;

}
.book_card {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 62px;
  width: 184px;
  margin: 67px 0;
  margin-bottom: 15px;
  padding-left: 11px;
 
}

.new_icon {
  width: 47px;
  height: 15px;
  position: absolute;
  top: 7px;
  right: 116px;
}
.book_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 184px;
  background: #fff;
  padding: 12px;
  box-shadow: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.book_main h3 {
  margin-top: 32px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: rgba(36, 20, 0, 1);
  line-height: 27px;
  letter-spacing: 0em;
}

.book_main span {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(36, 20, 0, 1);
  letter-spacing: 0em;
  text-align: left;
  margin-top: 15px;
}

.book_main button {
  font-family: "Montserrat", sans-serif;
  width: 136px;
  height: 29px;
  border-radius: 3px;
  margin-top: 1px;
  font-size: 12px;
  font-weight: 900;
  background: rgba(225, 106, 0, 1);
  color: #fff;
  border: transparent;
}

main {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.besteller {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 25px;
  line-height: 50px;
  margin-left: 45%;
}

.releases {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 25px;
  line-height: 50px;
  margin-left: 45%;
}
.container_div {
  margin-left: 469px;
  display: flex;
  flex-direction: row;
}
.all_books {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  display: inline-block;
  font-weight: 900;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: left;
  position: relative;
  top: 37px;
  margin-left: 181px;
  padding-top: 15px;
}
.all_div{
  margin-right: 28px;
}
.scroll_div {
  overflow-x: auto;
  /* height: 3px;
  margin-top: 80px;
  padding-left: 84px;*/
  margin-left: -6px;
  width: 45%;
  display: flex;
  flex-direction: row; 
}
.scroll_div div {
   padding-left: 53px !important;
  padding-bottom: 24px; 
}


#section_third {
  margin-bottom: 239px;
}

#modalJoin {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  color: #000000;
}
#modalFullName::placeholder && #modalEmail::placeholder {
  font-family: "Crimson Text", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  color: #797667;
}
#modalBtn {
  background-color: #e16a00;
  font-family: "Crimson Text", serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  color: #ffffff;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}

.book_container{
  display: flex;
  justify-content: center;
  width: 700px;
  
}
.all_bookdiv{
  margin-right: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  /* display: inline-block; */
  position: relative;
  left: 147px;
  font-weight: 900;
  line-height: 49px;
  letter-spacing: 0em;
}
.scrool_div{
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  position: relative;
  left: 5px;
  margin-left: 38%;
  padding-bottom: 20px;
  width: 300px;
}
.scroll_div > a{
  color: #000000;
}



.scrool_div::-webkit-scrollbar {
  background-color: transparent;
  height: 6px;
}
.scrool_div::-webkit-scrollbar-thumb {

  background-color:rgba(36, 20, 0, 1);
  border-radius: 5px;
}
.scrool_div::-webkit-scrollbar-thumb:hover {

  background-color: rgba(36, 20, 0, 1);
}





.container_div {
  margin-left: 469px;
  display: flex;
  flex-direction: row;
}
.all_books {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  /* display: inline-block; */
  font-weight: 900;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: left;
  position: relative;
  top: 37px;
  margin-left: 181px;
  padding-top: 15px;
}
.scroll_div {
  /* overflow-x: auto;
  height: 3px; */
  margin-top: 80px;
  padding-left: 84px;
  
  width: 45%;
  display: flex;
  flex-direction: row;
}
.scroll_div div {
  padding-left: 53px !important;
}

/* .all_section{
  position: relative;
  top: 30px;
} */

.text_anonim_two{
  height: 183px;
}

